[Unit]
Description=Axiome stack
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ axiome_install_dir }}
ExecStart=/usr/bin/docker compose {{ axiome_compose_flags }} up -d
ExecStop=/usr/bin/docker compose {{ axiome_compose_flags }} down
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
